<%- include('partials/head', { title: 'Logout' }) %>
<body>
  <div class="card_table">
    <h1>Signed out</h1>
    <p class="lead">You have been successfully signed out.</p>
    <% if (subject) { %>
    <p class="base">Signed out as <strong><%= subject %></strong>.</p>
    <% } %>
    <p class="lead"><a href="<%= post_logout_redirect_uri || 'http://localhost:3000' %>" class="primary">Return to application</a></p>
  </div>
</body>
</html>
