<footer class="page-footer">
  <p>
    <a href="https://authlete.com">Authlete</a> OAuth 2.0 &amp; OpenID Connect Server &middot;
    <a href="https://github.com/blackadi/authlete-node-authz-server">GitHub</a>
  </p>
</footer>
